@charset "utf-8";
body {
    font-family:"Microsoft YaHei","微软雅黑",Tahoma,Helvetica;
    background-color:#fcfcfc;
    overflow-x:hidden
}

header{
    background-color: #fff;
}

/*section{*/
    /*height: 200px;*/
    /*background-color: #fff;*/
/*}*/

/*section:nth-of-type(2n+1){*/
    /*background-color: #f5f5f5;*/
/*}*/

.topbar{
    height: 41px;
    line-height: 41px;
    color:#8d8d8d;
    border-bottom: 1px solid #c6cbcf;
    font-size: 12px;
}

/*.container{*/
/*background-color: red;*/
/*}*/

.topbar > .container > .row > div {
    height: 40px;
}

.topbar > .container > .row > div + div{
    border-left: 1px solid #c6cbcf;
}

.topbar > .container > .row > div  a{
    text-decoration: none;
    color:#8d8d8d;
}

#logo{
    cursor: pointer;
}

#logo:hover > .head_wx{
    display: block;
}

.head_wx{
    position: relative;
    top:-13px;
    display: none;
}

/*轮播器相关样式*/
#turnshow-adv > .carousel-inner > .item{
    background-color: red;
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-background-size:cover;
    background-size:cover;
}

@media (min-width: 768px) {
    #turnshow-adv > .carousel-inner > .item {
        height: 352px;
    }
}

@media (min-width: 768px) {
    #turnshow-adv > .carousel-inner > .item > img{
        display: none;
    }
}

.margin-right-15 {
    margin-right:1.5rem
}

/*产品特色*/

#product-feature-section{
    border-bottom:1px solid #c6cbcf;
}

#product-feature{
    padding-top: 30px;
    padding-bottom: 35px;
}

#product-feature > .row > div{
    margin-bottom:20px;
}

#product-feature > .row  .media-left{
    font-size:24px;
    position: absolute;
    top:10px;
}

#product-feature > .row  .media-body{
    padding-left:35px;
}

#product-feature > .row > div > a{
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

#product-feature > .row > div > a:hover{
    color:#E61E25;
}




/*#product-feature > .row > div{*/
    /*border:2px solid blue;*/
    /*background-color: green;*/
    /*height: 100px;*/
/*}*/

/*#product-feature > .row > div:nth-child(2n+1){*/
    /*background-color: red;*/
/*}*/

.icon-uniE900:before {
    content: "\e900";
}
.icon-uniE901:before {
    content: "\e901";
}
.icon-uniE902:before {
    content: "\e902";
}
.icon-uniE903:before {
    content: "\e903";
}
.icon-uniE904:before {
    content: "\e904";
}
.icon-uniE905:before {
    content: "\e905";
    vertical-align: middle;
}
.icon-uniE906:before {
    content: "\e906";
    vertical-align: middle;
}
.icon-uniE907:before {
    content: "\e907";
}

/*立即预约*/
#fast-book{
    border-bottom:1px solid #c6cbcf;
    padding-bottom:25px;
    padding-top:25px;
}

#queue > .atten, #queue > a{
    color:#E61E25;
}

#queue > a{
    text-decoration: none;
    border-bottom: 1px dashed #E61E25;
}

.icon-icon28:before{content:"\e989";vertical-align: middle; font-weight: bold;}

.market-alert {
    color: #e61e25;
    font-weight: bold;
}

#project-recommand{
    background-color: #f0f0f0;
}

/*项目推荐*/
#project-recommand .center-bar{
    color: #666;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.shadow{
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 2px 2px #d8d8d8;
    margin-bottom: 30px;
}

.freshman > .title{
    height: 90px;
    
    background-color: #e61625;
    padding: 10px 15px;
    position: relative;
}


.freshman > .title > .title-left{
    background:url(../images/index.png) -247px -96px no-repeat;
    width:236px;
    height:87px;
    position:absolute;
    top:4px;
    left:3px
}

.freshman > .title > .item-title{
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
}

.freshman > .title >.short-title{
    color: #efefef;
    font-size: 12px;
}

.right-angle{
    position: absolute;

    right: -6px;
    top: -50px;
    background-color: #fff;
    width: 129px;
    height: 86px;
    transform: rotate(40deg) skew(-10deg);
}

.shadow  .item-content {
    height: auto;
    padding: 0px 15px;
}

.shadow .item-content  .item-info{
    padding:15px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    height: auto;
    overflow: hidden;
    margin-top:35px;
}

.shadow .item-content .item-info ul{
    padding: 0;
}

.shadow .item-content .item-info ul li{
    list-style: none;
    float: left;
    width: 25%;
    font-size: 16px;
    border-right: 1px solid #ebebeb;
    text-align: center;
    line-height: 30px;
}

.shadow .item-content .item-info ul li:last-child{
    border-right: none;
}

.shadow .item-content .item-info .red{font-size: 18px;color: #e61e25}

.shadow .item-content .item-info .progress{
   margin-top: 15px;                                                      
   margin-left: 15px;
   height: 10px;
   width: 130px;
   position: relative;
}

 .shadow .item-content .item-info .progress .progress-bar{
    background-color: #576a7f;
 }

 .shadow .item-content .item-info .progress-text{
    font-size: 12px;

 
    position: absolute;
    right: 125px;
    top: 130px;
    color: #999;
}


.right-text{

    position: absolute;
    right: 31px;
    top: 11px;
    font-size: 16px;
    font-weight: 900;
    color: #E61E25;
    line-height: 16px;
    letter-spacing: -1.5px;
    text-shadow: 1px 1px 1px #ccc;

}

.item-go{text-align: center;padding: 0 0 16px;margin-top: 20px;}
.item-go .btn-warning{background: #e61e25;border: none;width:50%; }

/*产品列表*/
#products-section {
    padding-top:30px;
    padding-bottom:50px;
    background-color: #f0f0f0;
}

#products-section > .container > .nav-tabs > li {}

#products-section > .container > .nav-tabs > li > a{
    color: #333;
    font-size: 15px;
}

#products-section > .container > .nav-tabs > li > a:hover{
    border-color: transparent;
    background-color: transparent;
}

#products-section > .container > .nav-tabs > li.active > a {
    border-color: transparent;
    
    background-color: transparent;
    border-bottom: 4px solid #e61e25;
    padding-bottom: 5px;
}

#host-product{
    position: absolute;
    height: 38px;
    width: 37px;
    left: 393px;
    top: -23px;
}

/*产品项目面板*/
.panel-product {
    box-shadow: 2px 2px 2px #ccc;
    margin: 10px 0px;
    overflow: hidden;
    border-width: 0px;
}
.panel-product > .panel-heading {
    color: #333;
    background-color: #ccc;
    display: inline-block;
    float: right;
    height: 140px;
    width: 120px;
    border-width: 0px;
    border-left: 1px dashed #c0c0c0;
    position: relative;
}
.panel-product > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-product > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-product > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}

.panel-product > .panel-heading::before{
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #f0f0f0;
    display: inline-block;
    position: absolute;
    left: -6px;
    top: -6px;
}

.panel-product > .panel-heading::after{
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #f0f0f0;
    display: inline-block;
    position: absolute;
    left: -6px;
    bottom: -6px;
    box-shadow: 0 2px 2px #d8d8d8 inset;
}


.panel-product  div.active{
    background-color: #fff;
}


.panel-product > .panel-body{
    height: 140px;
    background-color: #ccc;
    display: block;
    float: none;
    margin-right: 120px;
}


/*公共样式*/
@font-face {
    font-family:brsc;
    src:url(../fonts/MiFie-Web-Font.eot?9syq0k);
    src:url(../fonts/MiFie-Web-Font.eot?9syq0k#iefix) format('embedded-opentype'),
    url(../fonts/MiFie-Web-Font.ttf?9syq0k) format('truetype'),
    url(../fonts/MiFie-Web-Font.woff?9syq0k) format('woff'),
    url(../fonts/MiFie-Web-Font.svg?9syq0k#MiFie-Web-Font) format('svg');
    font-weight:400;
    font-style:normal
}

[class*=" icon-"],[class^=icon-] {
    font-family:brsc;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.icon-mobilephone:before {
    content:"\e908";
    font-size:13px
}

.icon-telephone:before {
    content:"\e909";
    font-size:15px
}

.icon-logoLeft:before {
    content:"\e920";
    font-size:50px
;
    color: #e61e25;
    vertical-align: middle;
}
.icon-logoRight:before {
    content:"\e93e";
    font-size:36px
;
    color: #333;
    vertical-align: middle;
}

/*自定义bootstrap按钮，注册专用            ======================= 开始*/
.btn-register {
    color: #ffffff;
    background-color: #E61E25;
    border-color: #FCFCFC;
    border-radius: 4px;
    line-height: 1.1;
    font-size: 14px;
}

.btn-register:hover,
.btn-register:focus,
.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    color: #ffffff;
    background-color: #FC2A05;
    border-color: #FCFCFC;
}

.btn-register:active,
.btn-register.active,
.open .dropdown-toggle.btn-register {
    background-image: none;
}

.btn-register.disabled,
.btn-register[disabled],
fieldset[disabled] .btn-register,
.btn-register.disabled:hover,
.btn-register[disabled]:hover,
fieldset[disabled] .btn-register:hover,
.btn-register.disabled:focus,
.btn-register[disabled]:focus,
fieldset[disabled] .btn-register:focus,
.btn-register.disabled:active,
.btn-register[disabled]:active,
fieldset[disabled] .btn-register:active,
.btn-register.disabled.active,
.btn-register[disabled].active,
fieldset[disabled] .btn-register.active {
    background-color: #E61E25;
    border-color: #FCFCFC;
}

.btn-register .badge {
    color: #E61E25;
    background-color: #ffffff;
}

/*自定义bootstrap按钮，注册专用               ==================  结束*/

/*brsc-nav 开始*/

.navbar-brsc {
    background-color: #fff;
    border-bottom-color: #e7e7e7;
    line-height: 70px;
    height: 70px;
    margin-bottom: 0px;
}

.navbar-brsc .navbar-brand {
    color: #777;
    height: 70px;
    margin-right: 50px;
    margin-top: -5px;
}
.navbar-brsc .navbar-brand:hover,
.navbar-brsc .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.navbar-brsc .navbar-text {
    color: #777;
}
.navbar-brsc .navbar-nav > li > a {
    color: #777;
    line-height: 38px;
    font-size: 18px;
}
.navbar-brsc .navbar-nav > li > a:hover,
.navbar-brsc .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e61e25;
}
.navbar-brsc .navbar-nav > .active > a,
.navbar-brsc .navbar-nav > .active > a:hover,
.navbar-brsc .navbar-nav > .active > a:focus {
    color: #555;
    /* background-color: #e7e7e7; */
    border-bottom: 2px solid #e61e25;
}
.navbar-brsc .navbar-nav > .disabled > a,
.navbar-brsc .navbar-nav > .disabled > a:hover,
.navbar-brsc .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-brsc .navbar-toggle {
    border-color: #ddd;
}
.navbar-brsc .navbar-toggle:hover,
.navbar-brsc .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-brsc .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-brsc .navbar-collapse,
.navbar-brsc .navbar-form {
    border-color: #e7e7e7;
}
.navbar-brsc .navbar-nav > .open > a,
.navbar-brsc .navbar-nav > .open > a:hover,
.navbar-brsc .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-brsc .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-brsc .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-brsc .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-brsc .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-brsc .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-brsc .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-brsc .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-brsc .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-brsc .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.navbar-brsc .navbar-link {
    color: #777;
}
.navbar-brsc .navbar-link:hover {
    color: #333;
}
.navbar-brsc .btn-link {
    color: #777;
}
.navbar-brsc .btn-link:hover,
.navbar-brsc .btn-link:focus {
    color: #333;
}
.navbar-brsc .btn-link[disabled]:hover,
fieldset[disabled] .navbar-brsc .btn-link:hover,
.navbar-brsc .btn-link[disabled]:focus,
fieldset[disabled] .navbar-brsc .btn-link:focus {
    color: #ccc;
}
/*brsc-nav 结束*/
